{% extends 'base.html' %}

{% block title %}Edit Task{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Edit Task</h1>
        <form action="{{ url_for('edit', task_name=task.name) }}" method="POST">
            <div>
                <label for="name">Task Name</label>
                <input name="name" type="text" value="{{ task.name }}" required />
            </div>
            <div>
                <label for="do_by">Do by</label>
                <input name="do_by" type="datetime-local" value="{{ task.do_by.strftime('%Y-%m-%dT%H:%M') }}" required />
            </div>
            <button type="submit">Update Task</button>
        </form>
    </div>
{% endblock %}
